@import "tailwindcss";

/*to resize footer logos equally*/
.footer-image{
    @apply w-6;
}

/*for nav & its interactivity*/
.nav-activity{
    @apply bg-[var(--primary-color)];
    @apply p-2;
    @apply rounded-sm;
    @apply hover:bg-[var(--primary-contrast)];
    @apply hover:text-[var(--bg-color)];
    @apply hover:text-shadow-lg;
}

/*for contactme.html --flex structure for input and corresponding label*/
.input-flex{
    @apply flex;
    @apply flex-col;
}

/*for index.html --text-card-specific styling*/
.text-card{
    @apply p-7;
}

/*for index.html --spaxcing between list items*/
.list-gap{
    @apply m-2.5;
}

/*for custom variables
 -portfolio palette colors*/
:root{
    --bg-color: white;
    --text-color: #3B1F2B;
    --subtitle-color: #8C4A6E;

    /*for buttons, header, footer, etc*/
    --primary-color: #FFE6FF;
    --primary-contrast: #FF8ECE;
    --accent-color: #FF9A6C;
}